body {
	background-color: #BFBEA5;
	color: #2B261D;
	font-family: Arial;
	margin: 0;
	text-decoration: none;
}

h2 {
	text-align: right;
	border-bottom: 1px #4A5D61 solid;
	color: #124E69;
}

#navbar {
	background-color: #124E69;
	color: #8C8370;
	padding: 1px;
}

#navbar a, a:hover, a:active, a:visited {
	color: #BFBEA5;
}

#content {
	width: 900px;
	background-color: #888;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	width: 600px;
/*	background-color: #222;*/
	padding: 10px;
}

a, a:hover, a:active, a:visited {
	color: #124E69;	
}

.sidebar {
	width: 300px;
	padding: 10px;
	float: right;
}

.center {
	text-align: center;
}