body {
	background-color: #BFBEA5;
	color: #2B261D;
	font-family: Arial;
	margin: 0;
	text-decoration: none;
}

h2 {
	text-align: right;
	border-bottom: 1px #4A5D61 solid;
	color: #124E69;
}

#navbar {
	background-color: #124E69;
	color: #8C8370;
	padding: 4px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#navbar a, a:hover, a:active, a:visited {
	color: #BFBEA5;
}

#container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.content {
	width: 600px;
	background-color: #888;
	float: left;
	padding-bottom: 5000em;
	margin-bottom: -5000em;
}

a, a:hover, a:active, a:visited {
	color: #124E69;
	text-decoration: none;
}

.sidebar {
	width: 300px;
	background-color: #666;
	padding: 10px;
	float: right;
	padding-bottom: 5000em;
	margin-bottom: -5000em;
}

.center {
	text-align: center;
}

.postHeading {
	width: 600px;
	color: #F00;
	background-color: #222;
	font-size: 20px;
}

.postContent {
	width: 600px;
	background-color: #666;
	color: #FFF;
}