body {
	background-color: #8C8C8C;
	color: #262526;
	font-family: Arial;
	margin: 0;
	text-decoration: none;
}

h2 {
	text-align: right;
	border-bottom: 1px #4A5D61 solid;
	color: #C4081A;
}

#navbar {
	background-color: #C4081A;
	color: #E2EBD3;
	padding: 4px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#navbar a, a:hover, a:active, a:visited {
	color: #F2F2F2;
}

#container {
	width: 919px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border-bottom: 1px #222 solid;
}

.content {
	width: 600px;
	background-color: #F0F0F0;
	float: left;
	padding: 4px;
	padding-bottom: 5000em;
	margin-bottom: -5000em;
	border: 1px #222 solid;
}

a, a:hover, a:active, a:visited {
	color: #124E69;
	text-decoration: none;
}

.sidebar {
	width: 300px;
	background-color: #B4B4B4;
	float: right;
	border-top: 1px #222 solid;
	border-right: 1px #222 solid;
	padding: 4px;
	padding-bottom: 5000em;
	margin-bottom: -5000em;
}

.center {
	text-align: center;
}