---
layout: default
title: Projects
---

<h2 class="contentHeader" style="border-bottom: 1px #666 dotted;">Projects</h2>
<br/>
{% for post in site.posts %}
	{% if post.category == "Projects" %}
		<h2>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h2>
		<em><span class="smallText">Posted on {{ post.date | date_to_long_string }}.</span></em>
		<span class="postContent">
			{{ post.preview }}
			<br/>
			<a href="{{ post.url }}">Read More...</a>
		</span>
		<br/><br/>
	{% endif %}
{% endfor %}