<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{{ page.title }}
		</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	
	<body>
		<div id="navbar">
			<div class="main">
				<a href="/">Home</a> | 
				<a href="/Projects.html">Projects</a>
			</div>
		</div>
		
		<div id="container">
			<h1 class="right"><a href="/">The Social Half-Wit</a></h1>
			
			<!-- Breadcrumb Trail -->
			<div class="breadcrumb"><a href="/">Home</a> > {{ page.title }}</div>
			
			<br/>
			<div class="content">
				{{ content }}
			</div>
			
			<div class="sidebar">
				Recent Posts
				<blockquote>
					{% for post in site.posts limit: 5 %}
							<a href="{{ post.url }}">{{ post.title }}</a>
							<br/>
							<em><span class="smallText">{{ post.date | date_to_long_string }}</span></em>
							<hr/>
					{% endfor %}
				</blockquote>
				Links
				<blockquote>
					<hr/>
				</blockquote>
			</div>
		</div>
		<br/><br/><br/>
<!--		<div id="footer">
			Copyright &copy; 2011 All Rights Reserved.
		</div>-->
	</body>
</html>