<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{{ page.title }}
		</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	
	<body>
		<div id="navbar">
			<div class="main">
				<a href="http://dekzter.github.com/">The Life and Times...</a> | 
				<a href="http://baguette.github.com/">The Periodic Loaf</a> | 
			</div>
		</div>
		<br/>
		<div id="main">
			<div class="content">
				{% for post in site.posts limit: 5 %}
					{{ post.title }}
					<em><span style="font-size: 12px;">Posted on {{ post.date | date_to_long_string }}.</span></em>
					{{ post.content | preview }}
					<a href="{{ post.url }}">Read More...</a>
					<br/><br/>
				{% endfor %}
			</div>
			
			<div class="sidebar">
				testing sidebar
			</div>
		</div>
	</body>
</html>