<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{{ page.title }}
		</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	
	<body>
		<div id="navbar">
			<div class="main">
				<a href="http://dekzter.github.com/">Home</a> | 
				<a href="http://dekzter.github.com/projects">Projects</a>
			</div>
		</div>
		
		<div id="container">
			<h1 class="right"><a href="http://dekzter.github.com">The Social Half-Wit</a></h1>
			
			<!-- Breadcrumb Trail -->
			<div class="breadcrumb"><a href="http://dekzter.github.com/">Home</a> > <a href="http://dekzter.github.com/{{ page.category }}">{{ page.category }}</a> > {{ page.title }}</div>
			
			<br/>
			<div class="content">
				<div class="smallText" style="border-bottom: 1px #666 dotted; margin-bottom: 8px;">
					<em>{{ page.date | date_to_long_string }}</em> | Category: {{ page.category }}
				</div>
				<h2>{{ page.title }}</h2>
				{{ content }}
				<br/><br/><br/>
				<hr/>
				<div id="disqus_thread"></div>
				
				<!-- JavaScript for Disqus comments -->
				<script type="text/javascript">
					<!--
					/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					var disqus_shortname = 'dekzter'; // required: replace example with your forum shortname
					
					// The following are highly recommended additional parameters. Remove the slashes in front to use.
					//var disqus_identifier = 'unique_dynamic_id_1234';
					//var disqus_url = 'http://example.com/permalink-to-page.html';
					
					/* * * DON'T EDIT BELOW THIS LINE * * */
					(function() {
						var dsq = document.createElement('script');
						dsq.type = 'text/javascript';
						dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
					-->
				</script>
				
				<noscript>
					Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
				</noscript>
				<a href="http://disqus.com/" class="dsq-brlink">Blog comments powered by <span class="logo-disqus">Disqus</span></a>
				<br/><br/>
			</div>
			
			<div class="sidebar">
				Recent Posts
				<blockquote>
					{% for post in site.posts limit: 5 %}
							<a href="{{ post.url }}">{{ post.title }}</a>
							<br/>
							<em><span style="font-size: 12px;">{{ post.date | date_to_long_string }}</span></em>
							<hr/>
					{% endfor %}
				</blockquote>
				Links
				<blockquote>
					<a href="http://baguette.github.com/" target="_blank">The Periodic Loaf</a>
					<hr/>
				</blockquote>
			</div>
		</div>
		<br/><br/><br/>
		<!--<div id="footer">
			Copyright &copy; 2011 All Rights Reserved.
		</div>-->
	</body>
</html>